<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
     <ShortName>Unix Experience</ShortName>
     <Description>Unix Experience</Description>
     <Image width="16" height="16">data:image/x-icon;base64,R0lGODlhEAAQAOMAAAAAABgYtRgYrRgYlBBSMcaEMQhKKTFaKcZ7Mb17MRBKKYxzKQAAAAAAAAAAAAAAACH5BAEAAAAALAAAAAAQABAAAARGEMhAq7y36iBwphjXhaAnnKR3DUOqAqyrxt8Lt18w05fAYawBQeULBguGA9E4MCASB4XtYnAuDsopoJqASrVVBMKglVSrEQA7</Image>
     <InputEncoding>UTF-8</InputEncoding>
     <Url type="application/opensearchdescription+xml"
          rel="self"
	  template="{{ serverproto }}://{{ servername }}/search.xml" />
     <Url type="text/html" template="{{ serverproto }}://{{ servername }}/#/?q={searchTerms}"/>
</OpenSearchDescription>
